<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhihangjia.project">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_zhihangjia_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_zhihangjia_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseLibTheme"
        tools:replace="android:icon,android:roundIcon">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e767c747963614c652bec05b6afaa578" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx74034cb7f59a0bc1" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx74034cb7f59a0bc1" />
            </intent-filter>
        </activity>

        <receiver android:name=".AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zhihangjia.project.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.bugtags.library.BugtagsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/BugtagsTheme"
            tools:replace="@android:theme"/>

        <service
            android:name=".service.GetuiService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>

        <service android:name=".service.ZhiHangjiaPushIntentService"/>
    </application>

</manifest>